## 1

 Создайте numpy array с элементами от числа N до 0 (например, для N = 10 это будет array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])).

In [220]:
import numpy as np

In [223]:
def num_arr_desc():
    n = int(input())
    ar_desc_num = np.linspace(n-1 , 0 , n)
    return ar_desc_num

In [224]:
num_arr_desc()

6

array([5., 4., 3., 2., 1., 0.])

## 2

Создайте диагональную матрицу с элементами от N до 0. Посчитайте сумму ее значений на диагонали.

In [225]:
def matrx_diag_sum():
    n = int(input())
    matrx = np.diag(np.linspace(n-1 , 0 , n), k = 0)
    return sum(np.diag(matrx))

In [226]:
matrx_diag_sum()

25

300.0

## 3

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [217]:
import pandas as pd

In [112]:
rating = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
flt_data_movie = rating[(rating['rating']== 5.0)]
answ = flt_data_movie.groupby('movieId').count().sort_values('rating', ascending=False).head()
data_movie = answ.merge(movies, on='movieId', how='left')

In [232]:
data_movie.head(1)

,movieId,userId,rating,timestamp,title,genres
0,318,153,153,153,"Shawshank Redemption, The (1994)",Crime|Drama

## 4

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [134]:
data[ data['country'].str.contains('Lit', case=False) ]['country'].unique()

array(['Lithuania'], dtype=object)

In [212]:
data = pd.read_csv('power.csv')
data_flt_cont = data[ (data['country']=='Latvia') | (data['country']=='Estonia') | (data['country']=='Lithuania') ]
data_flt_cat = data_flt[ (data_flt['category']== 4) | (data_flt['category']== 12) | (data_flt['category']== 21) ]  
data_flt_years = data_flt_cat[ (data_flt_cat['year'] >= 2005 ) & (data_flt_cat['category'] <= 2010)]
data_flt = data_flt_years[(data_flt_years['quantity'] >= 0 )]

In [219]:
data_flt.head()

         country  year  quantity  category
10617    Estonia  2008       1.0         4
10618    Estonia  2007       0.0         4
10619    Estonia  2006       0.0         4
10620    Estonia  2005       1.0         4
11156  Lithuania  2008       1.0         4

In [218]:
data_flt_['quantity'].sum()

408081.0

## 5

Решите систему уравнений:
4x + 2y + z = 4
x + 3y = 12
5y + 4z = -3

In [123]:
from numpy import linalg

In [124]:
a = np.array([[4,2,1], [1,3,0], [0,5,4]])
b = np.array([4,12,-3])

In [125]:
linalg.solve(a, b)

array([ 0.46666667,  3.84444444, -5.55555556])