# Базовые типы данных

### Полезности с прошлого занятия

In [ ]:
# выбирайте названия переменных по смыслу

# ¯\_(ツ)_/¯
a = 7655957369

# вариант получше
earth_population = 7655957369

In [ ]:
# используйте табуляцию для автодополнения длинных названий

top_clients_region_rating

In [1]:
# целое число
step = 4

type(step)

int

In [ ]:
# вещественное число
minimum_share = 0.02

type(minimum_share)

In [ ]:
# строки

'3.14'

In [ ]:
# перевод строки в число - int и float

float('3.14')

In [2]:
# перевод числа в строку

str(2.718281828)

'2.718281828'

In [3]:
# булевый тип

'2019-05-16' < '2019-05-17'

True

## Списки (листы)

In [4]:
just_numbers = [4, 1, 13, 0, 6]

In [5]:
# количество элементов в списке
len(just_numbers)

5

In [6]:
# сумма элементов
sum(just_numbers)

24

In [7]:
# сортировка по возрастанию
sorted(just_numbers)

[0, 1, 4, 6, 13]

In [8]:
# изменить порядок сортировки
sorted(just_numbers, reverse = True)

[13, 6, 4, 1, 0]

In [9]:
# это сортировка чисел по возрастанию
sorted([1, 9, 10, 99, 100])

[1, 9, 10, 99, 100]

In [10]:
# а это сортировка строк по алфавиту
sorted(['1', '9', '10', '99', '100'])

['1', '10', '100', '9', '99']

In [11]:
# перебирать элементы списка можно так
for i in sorted(['1', '9', '10', '99', '100']):
    print(i)

1
10
100
9
99

In [12]:
# создать список из нескольких элементов

[1] * 10

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [13]:
'hello ' * 5

'hello hello hello hello hello '

In [14]:
user_id = 'undef'
movie_id = 'undef'

In [15]:
# иногда удобно для генерации значений
user_id, movie_id, rating, timestamp = ['undef']*4

In [16]:
print(user_id)

undef

### Упражнение
Можно ли использовать sorted для списков, состоящих из чисел и строк одновременно? Попробуйте показать это на примере

In [23]:
phone = [ 2, 9 ,93 ,5 ,7 ,9 ]

In [24]:
sorted(phone) + sorted(['fff', 'ffasd'])

[2, 5, 7, 9, 9, 93, 'ffasd', 'fff']

### Распаковка списков

In [1]:
first, second, third = ['первый', 'второй', 'третий']
second

'второй'

In [2]:
# когда число элементов неизвестно

first, *other = ['первый', 'второй', 'третий']
first, other

('первый', ['второй', 'третий'])

In [ ]:
first, *_, last =  ['первый', 'второй', 'третий', 'четвертый']

In [ ]:
first, last

In [ ]:
# иногда можно не заморачиваться с названиями
first, *_ = ['первый', 'второй', 'третий']

In [ ]:
first, _

### Добавление элементов и сложение

In [ ]:
just_numbers = [1, 2, 3]

In [ ]:
# добавление элемента к списку
just_numbers.append(15)
just_numbers

In [ ]:
# так не работает
just_numbers = just_numbers.append(15)
print(just_numbers)

In [ ]:
# склеивание списков
[1, 2, 3] + [4, 5, 6]

In [ ]:
a = [1, 2, 3]
a.append([4, 5, 6])

In [ ]:
print(a)

### Фильтрация элементов списка
Аналогично строкам

### Важно!
1. Нумерация элементов начинается с 0

2. Правая граница диапазона не берется в расчет

In [6]:
months = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']

In [ ]:
# январь и февраль
months[0:2] # [0, 1]

In [ ]:
months[2:]

In [ ]:
# первый (нулевой) элемент и последний можно не указывать
# зимние месяцы

months[-3:]

In [5]:
# все месяцы с шагом 2
months[3:-1:2]

['apr', 'jun', 'aug', 'oct']

### Упражнение
Выведите на экран весенние месяцы

In [8]:
months[2:-7]

['mar', 'apr', 'may']

In [ ]:
months[2:5]

In [10]:
months[-10:-7]

['mar', 'apr', 'may']

In [12]:
months[0:-7:2]

['jan', 'mar', 'may']

In [22]:
months.index( 'apr')

3

In [15]:
for month in months:
    if month in ['mar', 'apr', 'may']:
        print(month)

mar
apr
may

In [24]:
for month in months:
    if (months.index(month) >=2) & (months.index(month) <=4):
        print(month)

mar
apr
may

### Вложенные списки

In [ ]:
user_data = [
    ['Елена', 500],
    ['Алексей', 400],
    ['Татьяна', 250],
    ['Сергей', 110],
]

In [ ]:
user_data[2][1]

In [ ]:
# обращение ко вложенным элементам

user_data[2][0]

### Упражнение
Дан список цен на товары. Выведите на экран производителя LG из третьей по счету строки, обратившись к items

### Изменение списков

В примере ниже переменная a и b на самом деле указывают на один и тот же объект. В результате, при добавлении в b очередного элемента этот элемент добавляется и в исходном листе a

In [ ]:
a = [1, 2, 3]
b = a

In [ ]:
b.append(4)
'a = {}'.format(a)

In [ ]:
id(a), id(b)

Используем модуль copy

In [ ]:
import copy

In [ ]:
a = [1, 2, 3]
b = copy.copy(a)

In [ ]:
id(a), id(b)

In [ ]:
b.append(4)
print('a = {}'.format(a))

print('b = {}'.format(b))

Со словарями та же история

In [ ]:
dict_1 = {'a': 1}
dict_2 = dict_1

In [ ]:
dict_2.update({'b': 2})

In [ ]:
dict_1

In [ ]:
id(dict_1) == id(dict_2)

### Перебор элементов списка

In [ ]:
a = [1, 2, 3, 4, 5]

In [ ]:
for i in a:
    print(i**2)
    
    if i % 1000:
        print(i)
    
    if i > 3:
        break

In [ ]:
j = 0
for i in a:
    print(i)
    
    j += 1
    
    if j > 3:
        break

In [ ]:
# функция range:

for i in range(10):
    print(i)

In [ ]:
# с указанием левой и правой границы
for i in range(3, 20):
    print(i)

In [ ]:
# третий аргумент - шаг
for i in range(3, 20, 5):
    print(i)

### Простые проверки

In [ ]:
a = range(10**6)

In [ ]:
for i in a:
    # вычисления
    
    if i % 200000 == 0:
        print(i / len(a))

In [ ]:
# не используйте служебные обозначения для названий переменных
# добавляйте _
list_ = range(20)

list(list_[3:20:5])

### Упражнение

Имеется поток данных о ценах товаров (считайте, что цена всегда больше 0). Необходимо написать алгоритм определения минимального четного числа в этом потоке.

В качестве усложненного варианта рассмотрите дополнительные условия:

1. Список sys_stdin может быть любого размера или условно бесконечным потоком чисел. Т. е. поместить список в оперативную память целиком нельзя.

2. Не учитывайте в расчете отрицательные числа и 0 (соответственно, начальное условие о положительной цене отменяется).

In [ ]:
# sys_stdin сейчас просто название переменной
sys_stdin = [78, 68, 484, 3, 254, 90, 143, 78, 43, 42, 3053, 473, 5, 8593, 16, 3, 1454, 37, 96, 8547]

In [ ]:
if i % 2 == 0:
    ...

### Немного про итераторы в 2.7 и 3.x

Во второй версии питона range(5) вернет список [0, 1, 2, 3, 4]

In [ ]:
list(range(5))

In [ ]:
for i in range(10**12):
    print(i)
    
    if i > 10:
        break

Аналог в третьей версии:

In [ ]:
list(range(5))

## Tuple (кортеж)
Неизменяемый список

In [26]:
t = (1, 2, 3)
type(t)

tuple

In [ ]:
t.__sizeof__()

In [ ]:
[1, 2, 3].__sizeof__()

In [ ]:
t[0] = 1

In [ ]:
# кортеж из одного элемента задается так:
t = ('one',)

In [ ]:
type(t)

In [ ]:
# без запятой получится строка

type( ('one') )

## Множества set
Набор неповторяющихся элементов в случайном порядке

In [ ]:
nums = [1, 0, 0, 1]
set(nums)

In [ ]:
len(set(nums))

### Упражнение
Дан список описаний товаров descriptions. 

Есть подозрение, что некоторые описания содержат много дубликатов одних и тех же слов. Т. е. могут быть переоптимизированными. Для каждого описания товара выведите на экран разницу между количеством уникальных слов и общим количеством слов в этом описании.

In [ ]:
descriptions = [
    ['браслет', 'xiaomi', 'mi', 'band', '2.', 'умный', 'браслет', 'xiaomi', 'mi', 'лидер', 'в', 'линейке', 'xiaomi.', 'фитнес', 'браслет', 'для', 'android', '4.4,', 'ios', '7,', 'экран', 'oled.', 'лучший', 'выбор', 'xiaomi'],
    ['браслет', 'huawei', 'honor', 'band', '3.', 'фитнес', 'браслет', 'влагозащищенный', 'сенсорный', 'экран', 'android,', 'ios', 'мониторинг', 'сна'],
    ['браслет', 'samsung', 'gear', 'fit2', 'pro.', 'влагозащищенный', 'сенсорный', 'amoled-экран', 'мониторинг', 'сна,', 'калорий,', 'новинка', 'samsung'],
]

## Сравнение больших списков
Дан набор ID товаров из CRM и базы управленческой отчетности, которые частично расходятся. Необходимо определить процент расхождения ID заявок в этих базах.

Более общая постановка задачи: даны два списка, хотя бы один из которых помещается в оперативную память. Необходимо найти общее количество общих элементов этих списков.

In [ ]:
power = 7

system_1_data = list(range(1, 10**power, 5))
system_2_data = list(range(1, 10**power, 7))

In [ ]:
len(system_1_data), len(system_2_data)

Вариант 1

Ищем пересечение простым перебором

In [ ]:
%%time
unique_elements_counter = 0

i = 0
for el in system_1_data:
    if el in system_2_data:
        unique_elements_counter += 1
    
    i += 1
    if i % 100 == 0:
        print(i)

print(unique_elements_counter)

Вариант 2

Используем поиск по множеству

In [ ]:
system_2_set = set(system_2_data)

In [ ]:
%%time
common_elements_counter = 0

i = 0
for el in system_1_data:
    if el in system_2_set:
        common_elements_counter += 1

    i += 1
    if i % 100000 == 0:
        print(i)

print(common_elements_counter)

In [ ]:
common_elements_counter

In [ ]:
# запись результатов в Excel

from openpyxl import Workbook
wb = Workbook()

sheet = wb.active

i = 1
for el in system_1_data:
    if el in system_2_set:
        sheet['A{}'.format(i)] = el
        i += 1

wb.save(filename='export_ids.xlsx')

## Списки и строки

In [ ]:
queries_string = "смотреть сериалы онлайн,новости спорта,афиша кино,курс доллара,сериалы этим летом,курс по питону,сериалы про спорт"

In [ ]:
# преобразование строки в список (например, из CSV-файла)
queries_string.split(',')

In [ ]:
# Преобразование списка в строку

','.join(['Столбец 1', 'Столбец 2', 'Столбец 3'])

In [ ]:
# проверка вхождения элемента в список:

'Москва' in ['Ленинград', 'Одесса', 'Севастополь', 'Москва']

### Упражнение
Дана строчка из CSV-файла, которая содержит набор поисковых запросов, разделенных запятой:

queries = "смотреть сериалы онлайн,новости спорта,афиша кино,курс доллара,сериалы этим летом,курс по питону,сериалы про спорт"

Также дан список слов, по которому необходимо отфильтровать исходную строку с поисковыми запросами:

words = ['сериалы', 'курс']

Вам необходимо написать скрипт, который выводит на экран строчку queries, в которой оставлены только те запросы, которые содержат слова из листа words.

In [ ]:
queries = "смотреть сериалы онлайн,новости спорта,афиша кино,курс доллара,сериалы этим летом,курс по питону,сериалы про спорт"

In [ ]:
words = ['сериалы', 'курс']

### List comprehension

In [ ]:
# Дана последовательность чисел. Мы хотим оставить только те, что делятся на 5
sequence = range(0, 40, 3)
sequence

In [ ]:
list(sequence)

In [ ]:
# решение в лоб
for num in sequence:
    if num % 5 == 0:
        print( num )

In [ ]:
# если хотим получить отфильтрованный лист, то будет даже так
filteredSequence = []

for num in sequence:
    if num % 5 == 0:
        filteredSequence.append( num )

print( filteredSequence )

In [ ]:
[w for w in sequence if w ...]

In [ ]:
[w for w in sequence if w % 5 == 0]

In [ ]:
# с list comprehension получается покороче

print( [ x**2 for x in sequence if x % 5 == 0 ] )

Пример вычисления метрики из набора списков. Столбцы в каждой строке:
- дата
- номер счетчика
- количество визитов

In [27]:
api_response = [
    ['2017-12-26', '777', 184],
    ['2017-12-27', '111', 146],
    ['2017-12-28', '777', 98],
    ['2017-12-29', '777', 206],
    ['2017-12-30', '111', 254],
    ['2017-12-31', '777', 89],
    ['2018-01-01', '111', 54],
    ['2018-01-02', '777', 68],
    ['2018-01-03', '777', 74],
    ['2018-01-04', '111', 89],
    ['2018-01-05', '777', 104],
    ['2018-01-06', '777', 99],
    ['2018-01-07', '777', 145],
    ['2018-01-08', '111', 184],
]

In [28]:
sum([x[2] for x in api_response if '2018-01-' in x[0]])

817

### Упражнение

Посчитайте среднее значение визитов за день только за 2018 год для счетчика 777

## Словари

In [ ]:
stats = {
    '2017-05-01': 100,
    '2017-05-02': 101,
    '2017-05-03': 102
}

In [ ]:
# обращение к элементу словаря
print( stats['2017-05-01'] )

In [ ]:
# пройтись по элементам словаря
for key in stats.values():
    print( key )

In [ ]:
for key, value in stats.items():
    print(key, value)

In [ ]:
# количество ключей
print(len(stats))

### При обращении к словарю ключ должен существовать

In [ ]:
stats['2017-05-04']

In [ ]:
# проверка на наличие ключа в словаре
newDate = '2017-05-04'
newDateValue = 103

if newDate in stats:
    print('Значение для ключа уже существует')
    
else:
    print('Добавляю новый ключ')
    stats[ newDate ] = newDateValue

print( stats )

Можно использовать метод setdefault

In [ ]:
stats = {
    '2017-05-01': 100,
    '2017-05-02': 101,
    '2017-05-03': 102,
    '2017-05-09': 500
}

In [ ]:
stats.setdefault('2017-05-09', 0)

In [ ]:
stats

In [ ]:
stats.setdefault('2017-05-09', 0)
stats['2017-05-09'] = 109
stats

In [ ]:
# setdefault не изменяет значение, если ключ уже был в словаре
stats = {'2017-05-01': 100}

stats.setdefault('2017-05-01', 0)
stats

### Упражнение
Имеется список с координатами мест и названием страны, в которое находится это место. Напишите алгоритм, который считает распределение количества мест по странам. Список координат может быть любого размера.

In [ ]:
data = [
    [55, 37, 'Россия'],
    [43, 131, 'Россия'],
    [48, 2, 'Франция'],
    [42, 5, 'Франция'],
    [51, 55, 'Россия'],
]

## Словари и списки

In [ ]:
# попарное сравнение значений списков

test = [ 1, 0, 0, 1 ]
predictions = [ 0.89, 0.34, 0.08, 0.67 ]

In [ ]:
for pairs in zip(test, predictions):
    print(pairs)

Словарь из двух списков

In [ ]:
categories = ['Еда', 'Авто', 'Политика']
audience = [100, 200, 300]

In [ ]:
category_audience = zip(categories, audience)
for element in category_audience:
    print(element)

In [ ]:
categoriesDict = dict(zip(categories, audience))
print(categoriesDict)

## Словарь из списка
Похоже на  list comprehension

In [ ]:
{n: n**2 for n in range(10)}

In [ ]:
results = [('date', '2018-01-01'), ('counter', '777'), ('visits', 154)]

In [ ]:
{metric: value for (metric, value) in results}

## Сортировка списка по элементам

In [ ]:
results = [
    {'cost': 98, 'revenue': 103, 'source': 'vk'},
    {'cost': 153, 'revenue': 179, 'source': 'yandex'},
    {'cost': 110, 'revenue': 103, 'source': 'facebook'},
    {'cost': 34, 'revenue': 35, 'source': 'adwords'},
    {'cost': 24, 'revenue': 11, 'source': 'twitter'},
]

In [ ]:
sorted(results, key=lambda x: -x['cost'])

## Сортировка вложенных словарей

In [ ]:
results = {
    'vk': {'revenue': 103, 'cost': 98},
    'yandex': {'revenue': 179, 'cost': 153},
    'facebook': {'revenue': 103, 'cost': 110},
    'adwords': {'revenue': 35, 'cost': 34},
    'twitter': {'revenue': 11, 'cost': 24},
}

In [ ]:
# сортировка по ключам в обратном порядке
sorted(results.items(), key = lambda x: x[1]['revenue'], reverse=True)

In [ ]:
# сортировка по ключам вложенного словаря
# x[1] - обращение к значению ключа

sorted(results.items(), key = lambda x: x[1]['revenue'], reverse=True)

### Упражнение

Для каждого источника посчитайте ROI (revenue / cost - 1) и отсортируйте результат по убыванию ROI

## Группировки в больших массивах данных

In [ ]:
# имеется большой лист значений, в первом столбце которого количество элементов относительно невелико

big_data_list = [
    ['google', 'cpc', 925],
    ['yandex', 'organic', 790],
    ['market', 'cpc', 465],
    ['google', 'organic', 413],
    ['google', 'cpc', 398],
    ['direct', 'none', 115],
    ['yandex', 'cpc', 43]
]

In [ ]:
sorted(big_data_list)

In [ ]:
{'yandex': 123, 'google': 123213}

In [ ]:
stats = {}

for line in big_data_list:
    stats.setdefault(line[0], 0)
    stats[line[0]] += line[2]

stats

In [ ]:
select campaign, sum(value)
from big_silf
group campaign

### Упражнение

Посчитайте количество уникальных значений канала в листе big_data_list (второй столбец)

In [ ]:
{'cpc': ..., 'organic': ..., 'none': ...}

In [ ]:
logs = [
    '123',
    '123',
    '123',
    '567',
    '567',
    '567',
]